__pycache__
.mypy_cache
.pytest_cache
.ruff_cache
.mypy_cache_test
.env
.venv*

# Build / install
dist/
build/
*.egg-info/
*.egg

# macOS
.DS_Store

# IDE / editor
.idea/
.vscode/
*.swp
*.swo

# publish pypi
publish/